@charset "utf-8";

header {
    height: 155px;

    background-color: #fff;

    box-shadow: 0 1px 0 0 #f4f4f4;
}

header a {
    color: #9f9f9f;
}

/* 顶部菜单栏 */

.top {
    height: 40px;

    line-height: 40px;

    color: #e6e6e6;
    background-color: #101010;
}

.top .welcome a {
    color: #ff9c00;
}

/* 顶部logo */

header .nav h1 {
    top: 25px;

    width: 170px;
    height: 76px;

    background-image: url(../images/logo.jpg);
    background-repeat: no-repeat;
    background-position-x: -10px;
}

header .nav h1 a {
    display: block;

    width: 170px;
    height: 76px;

    font-size: 0;
}

/* 店铺logo */

.shop-logo {
    margin-top: 25px;
    margin-left: 200px;
    box-sizing: border-box;
    width: 298px;
    height: 75px;
}

.shop-logo-pic {
    overflow: hidden;

    border-right: 1px dashed #808080;
    width: 170px;
    height: 75px;
}

.shop-logo-pic img {
    width: 170px;
    height: 75px;
}

.shop-logo-inf {
    padding-left: 5px;
    width: 112px;
    height: 75px;
}

.shop-logo-inf h3 {
    height: 24px;

    font: bold 14px/24px "微软雅黑";
    letter-spacing: 1px;

    color: #033;
}

.shop-logo-inf span {
    display: block;

    border: 2px solid #feb80f;
    width: 88px;
    height: 18px;

    font: normal 12px/18px "微软雅黑";
    text-align: center;
    letter-spacing: 1px;

    color: #86612a;
    background-color: #f4c985;
}

.shop-logo-inf a {
    display: block;

    margin-top: 5px;
    border-radius: 12px;
    width: 90px;
    height: 24px;

    font: normal 14px/24px "微软雅黑";
    text-align: center;
    letter-spacing: 1px;

    color: #fff;
    background-color: #313131;
}

/* 搜索框和购物车按钮 */

.search-buy {
    margin-top: 45px;
    margin-left: 50px;
    width: 650px;
}

/* 搜索 */

.search-box {
    box-sizing: border-box;

/* margin-left: 500px; */
    border: 2px solid #feb80f;
    width: 490px;
    height: 35px;
}

.search-cont {
    border: 0;
    padding-left: 10px;
    width: 416px;
    height: 31px;

    outline: 0;
}

.search-btn {
    border-radius: 0;
    width: 60px;
    height: 31px;

    background-color: #feb80f;
    background-image: url(../images/search_button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;

    cursor: pointer;
}

/* 购物车 */

.buy-box {
    margin-left: 30px;
    box-sizing: border-box;
    border: 1px solid #dadada;
    border-radius: 5px;
    width: 130px;
    height: 35px;

    font: normal 14px/35px "微软雅黑";
    text-align: center;
    text-indent: 36px;

    color: #feb80f;
    background-image: url(../images/buy_box.png);
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 24px;
}

/* 假banner */

nav {
    height: 155px;

    font-size: 0;

    background-image: url(../images/product/product_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
