@charset "utf-8";

/* 购物车主体 */

ul,
li {
    margin: 0;
    padding: 0;
}

.cart-box {
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 25px;

    background-color: #fff;
}

/* 购物车统计栏 */

.cart-label {
    border-bottom: 3px solid #d9d9d9;
    height: 40px;

    color: #333;
}

.cart-label h2,
.cart-label p,
.cart-label a {
    display: inline-block;

    font: bold 16px/30px "微软雅黑";
    letter-spacing: 1px;
}

.cart-label p {
    float: right;

    margin: 0 30px;

    font: normal 12px/30px "微软雅黑";
}

.cart-label a {
    float: right;

    width: 75px;
    height: 30px;

    font: normal 12px/30px "微软雅黑";
    text-align: center;

    color: #fff;
    background-color: #ff9c00;
}

/* 购物车统计栏-商品数量 */

.cart-label h2 span {
    color: #f00;
}

/* 购物车商品 */

.cart-product table {
    width: 100%;
}

/* 购物车商品-所有 */

.product-all {
    text-align: left;
}

.totalprice,
.total {
    font: bold 20px/20px "微软雅黑";

    color: #f00;
}

.goToPay {
    padding: 5px 10px;

    font: bold 14px/40px "微软雅黑";

    color: #fff;
    background-color: #ff9c00;
}

.goToPay:hover {
    background-color: #f00;
}

/* 购物车商品-具体-店铺 */

.cart-shop {
    height: 40px;

    text-align: left;
    text-indent: 1em;
}

/* 购物车商品-具体-同款 */

.cart-commodity td {
    box-sizing: border-box;
    padding: 15px;
    height: 140px;
}

/* 购物车商品-具体-同款-选择框 */

.cart-choose {
    width: 50px;
}

/* 购物车商品-具体-同款-图片 */

.cart-pic {
    width: 140px;
}

.cart-pic img {
    width: 110px;
}

/* 购物车商品-具体-同款-描述 */

.cart-text {
    width: 260px;
}

.cart-text p {
    margin-bottom: 40px;

    font: normal 14px/18px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

.cart-text span {
    display: inline-block;

    width: 40px;
    height: 20px;

    text-align: center;

    color: #fff;
}

.cart-text span {
    background-color: #ff9c00;
}

/* 物车商品-具体-同款-颜色尺寸 */

.cart-color {
    width: 160px;
}

/* 购物车商品-具体-同款-单价 */

.cart-price {
    width: 160px;
}

.cart-price p {
    margin-bottom: 10px;

    font: bold 18px/20px "微软雅黑";

    color: #e50500;
}

.cart-price span {
    font: bold 14px/20px "微软雅黑";

    color: #e50500;
}

.cart-price span i {
    font: italic 14px/20px "微软雅黑";

    color: #9f9f9f;
}

/* 购物车商品-具体-同款-数量 */

.cart-count {
    width: 220px;

    text-align: center;
}

.cart-count button {
    width: 20px;
    height: 20px;
}

.cart-count input {
    border: 1px solid #9f9f9f;
    width: 40px;
    height: 30px;

    text-align: center;

    outline: none;
}

.cart-count .add {
    cursor: pointer;
}

.cart-count .sum {
    /* font-size: 0; */
    display: none;
}

/* 猜你喜欢 */

.guess-like {
    width: 1150px;
    height: 282px;
}

.guess-like h2 {
    border-bottom: 1px solid #d9d9d9;

    font: normal 18px/30px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

/* 猜你喜欢-图片 */

.guess-like-pics {
    overflow: hidden;

    margin-top: 25px;
    width: 1150px;
    /* height: 400px; */
}

/* 猜你喜欢-图片-每个图片 */

.guess-like-pic {
    float: left;
    overflow: hidden;

    position: relative;
    top: 0;
    left: 0;

    width: 175px;
    width: 3450px;
    height: 230px;

    color: #333;
}

.guess-like-pic ul {
    float: left;

    width: 1150px;
}

.guess-like-pic li {
    float: left;

    margin-right: 20px;
    width: 175px;
    height: 230px;
}

.guess-like-pic li:last-child {
    margin-right: 0;
}

/* 猜你喜欢-图片-圆角 */

.guess-like-pic-radius {
    overflow: hidden;

    border-radius: 15px;
    width: 175px;
    height: 175px;
}

/* 猜你喜欢-图片-大小 */

.guess-like-pic img {
    width: 175px;
}

/* 猜你喜欢-图片-价格 */

.guess-like-pic p {
    overflow: hidden;

    font: normal 16px/30px "微软雅黑";
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
}

.guess-like-pic span {
    font: normal 14px/30px "微软雅黑";
    letter-spacing: 1px;
}

.guess-change {
    cursor: pointer;
}
