@charset "utf-8";

/* 轮播图 */

.banner {
    margin-top: 25px;
}

.banner-cont {
    z-index: 1;
}

/* 轮播广告 */

.slide {
    overflow: hidden;

    position: absolute;

    width: 100%;
    min-width: 1200px;
}

/* 目录 */

.menu ul {
    position: relative;

    box-sizing: border-box;
    padding-top: 20px;
    width: 230px;
    height: 450px;

    background-color: rgba(0, 0, 0, .8);

    opacity: .8;
}

.menu li {
    height: 34px;

    font: bold 14px/34px "微软雅黑";
    letter-spacing: 1px;

    color: #fff;
}

.menu li a {
    display: block;

    border: 1px solid transparent;
    padding-left: 30px;
    height: 32px;

    color: #fff;
}

.menu li:hover a {
    position: relative;
    z-index: 2;

    border: 1px solid #808080;
    border-right: 0;

    color: #f60;
    background-color: #fff;
}

/* 目录内容 */

.menu .box {
    display: none;

    top: 0;
    left: 229px;

    box-sizing: border-box;
    border: 1px solid #808080;
    width: 600px;
    height: 450px;

    background-color: #808080;
}

.menu li:hover .box {
    display: block;
}

.menu li .box
> a {
    display: inline-block;

    margin: 5px;
    width: 100px;

    color: #f60;
}

.menu li .box
> a:hover {
    color: #fff;
    background-color: #f60;
}

/* 今日推荐 */

.recommend {
    margin-top: 20px;
}

.recommend .rec,
.recommend .rec img {
    width: 285px;
    height: 154px;
}

.recommend .rec {
    margin-right: 20px;
}

.recommend .rec:nth-child(4) {
    margin-right: 0;
}

.recommend-ad img {
    margin-top: 20px;
    width: 1200px;
}

/* 秒杀-倒计时*/

.recommend-pic {
    width: 230px;
    height: 285px;

    background-image: url(../images/inde_time.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-position: 50px -80px;
    background-size: 300px;
}

.recommend-time {
    box-sizing: border-box;
    padding: 20px;
    width: 230px;
    height: 285px;

    background-color: rgba(241, 73, 56, .9);
}

.recommend-time h2 {
    font: normal 25px/40px "微软雅黑";
    text-align: center;

    color: #fff;
}

.recommend-time img {
    display: block;

    margin: 20px auto;
    width: 40px;
}

.recommend-time h3 {
    font: normal 20px/40px "微软雅黑";
    text-align: center;

    color: #fff;
}

.recommend-time-on {
    font: normal 20px/50px "微软雅黑";

    color: #fff;
}

.recommend-time-on span {
    display: inline-block;

    margin-top: 20px;
    width: 50px;
    height: 50px;

    font: normal 20px/50px "微软雅黑";
    text-align: center;

    background-color: #666;
}

.cutdown-box {
    margin-top: 30px;
}

/* 秒杀-轮播 */

.recommend-show {
    width: 960px;
    height: 285px;
}

.recommend-show img {
    height: 210px;
}

/* 每日推荐 */

.everyday {
    margin-top: 55px;
    padding-top: 60px;
    height: 654px;

    background-color: #fff;
}

.everyday h2 {
    font: bold 30px/60px "微软雅黑";
    text-align: center;
}

.everyday h3 {
    font: bold 26px/26px "微软雅黑";
}

.everyday p {
    margin-top: 20px;
    margin-bottom: 20px;

    color: #9f9f9f;
}

.everyday-boxl,
.everyday-boxr {
    margin-top: 55px;
    box-sizing: border-box;
    padding: 30px;
    width: 585px;
    height: 410px;

    background-color: #ffdbdb;
}

.everyday-boxr {
    background-color: #acd0ff;
}

.everyday-pic {
    float: left;
    overflow: hidden;

    margin-right: 10px;
    width: 165px;
    height: 250px;
}

.everyday-pic:last-child {
    margin-right: 0;
}

.everyday-boxl img {
    height: 250px;
}

/* 服装 */

.cloth {
    padding-top: 40px;
    height: 650px;
}

/* 标题切换标签 */

.cloth-title {
    height: 35px;

    font: bold 16px/24px "微软雅黑";
}

.cloth-tabs li {
    float: left;

    margin: 0 10px;
}

.cloth-title .tabOn {
    color: #ffbd0d;
}

/* 内容 隐藏 */

.cloth-cont {
    height: 536px;
}

.cloth-cont1 .contOn {
    display: block;
}

.cloth-cont2 {
    display: none;
}

.cloth-cont3 {
    display: none;
}

/* 内容 左边内容 */

.cloth-cont .contl {
    box-sizing: border-box;
    width: 262px;
    height: 465px;

    background-color: #fff;
}

.cloth-cont .contl-pic {
    overflow: hidden;

    width: 262px;
    height: 330px;
}

.cloth-cont .contl img {
    width: 262px;
}

.contl-lab {
    text-align: center;
}

.contl-lab a {
    display: inline-block;

    margin-top: 14px;
    border: 1px solid black;
    border-radius: 12px;
    width: 70px;
    height: 24px;

    text-align: center;

    color: black;
}

/* 中间内容 */

.contm {
    margin: auto 15px;
    box-sizing: border-box;
    width: 455px;
    height: 465px;
}

.contm-slide {
    overflow: hidden;

    box-sizing: border-box;
    width: 455px;
    height: 300px;
}

.contm-slide img {
    height: 300px;
}

.contm-down {
    overflow: hidden;

    margin-top: 15px;
    width: 455px;
    height: 150px;
}

.contm-down img {
    width: 455px;
    height: 150px;
}

/* 中间-轮播 */

.cloth .contm .flex-direction-nav a {
    margin: -100px 0;
}

/* 右边内容 */

.contr {
    box-sizing: border-box;
    width: 450px;
    height: 465px;
}

.contr-pic {
    float: left;

    margin-right: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 220px;
    height: 225px;

    text-align: center;

    background-color: #fff;
}

.contr-pic:nth-child(2),
.contr-pic:nth-child(4) {
    margin-right: 0;
}

.contr-pic img {
    width: 180px;
    height: 144px;
}

.contr-pic h2 {
    font: bold 18px/24px "微软雅黑";
}

/* 下边内容 */

.contd {
    width: 1200px;
    height: 65px;
}

.contd-pic {
    float: left;
    overflow: hidden;

    margin-top: 15px;
    margin-right: 6px;
    width: 128px;
    height: 65px;
}

.contd-pic:last-child {
    margin-right: 0;
}

.contd-pic img {
    width: 128px;
    height: 65px;
}

/* 搜索栏下拉 */

.fixed-header {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    padding-top: 15px;
    width: 100%;
    height: 50px;

    background-color: #fff;
}

.fixed-header .search-box {
    float: none;

    margin: 0 auto;
}

/* 电梯导航 */

.fixed-nav {
    display: none;
/* background-color: #ffffff; */

    position: fixed;
    top: 50%;
    left: 50%;

    margin-left: -670px;
    box-sizing: border-box;
    width: 50px;
}

.fixed-nav li {
    margin-bottom: 10px;
    padding: 5px;
    width: 40px;

    text-align: center;

    color: #fff;
    background: skyblue;

    cursor: pointer;
}

.fixed-nav li.current {
    background: #f60;
}

.fixed-nav li:hover {
    background: #f60;
}

/* 固定二维码 */

.fixed-code {
    display: none;

    position: fixed;
    top: 50%;
    right: 50%;

    margin-right: -720px;
    box-sizing: border-box;
    padding: 20px 0;
    width: 100px;
    height: 170px;

    text-align: center;

    background-color: #fff;
}
