@charset "UTF-8";

main {
    height: 600px;

    background-image: url(../images/login/login_bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.login-box {
    top: 50px;
    right: 50px;

    box-sizing: border-box;
    padding: 0 35px 0 35px;
    width: 400px;
    height: 445px;

    text-align: center;

    color: #808080;
    background-color: rgba(255, 255, 255, .8);
}

.login-box a {
    color: #808080;
}

/* 账密登录 */

.login-change {
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
    border-bottom: 1px solid #bfb6b5;
    padding-top: 15px;
    height: 55px;

    font: normal 18px/24px "微软雅黑";
}

.login-change a {
    display: inline-block;

    border-bottom: 4px solid #ffa200;
    width: 140px;
    height: 36px;
}

.login-change a:hover {
    border-bottom: 4px solid #ffa200;

    color: #5a5959;
}

.login-cont1 {
    display: none;
}

.login-cont1 input,
.login-cont1 button {
    box-sizing: border-box;
    width: 330px;
    height: 45px;
}

.login-cont1 input {
    margin-bottom: 30px;
    border: 1px solid #bfb6b5;
    padding-left: 20px;
}

.login-cont1 button {
    font: normal 18px/24px "微软雅黑";
    text-align: center;

    color: #fff;
    background-color: #ffa200;

    cursor: pointer;
}

.user-pic,
.psw-pic {
    right: 0;

    width: 45px;
    height: 45px;

    font-size: 0;

    background-color: #ffa200;
    background-image: url(../images/login/login_user.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
}

.psw-pic {
    background-image: url(../images/login/login_psw.png);
}

.login-forget {
    margin-top: 25px;

    text-align: right;
}

.login-other {
    margin-top: 25px;

    text-align: left;
}

.login-other img {
    width: 18px;
}

/* 二维码登录 */

.login-change2 {
    margin-top: 35px;
    margin-bottom: 35px;
    box-sizing: border-box;
    padding-top: 15px;

    font: normal 18px/25px "微软雅黑";
}

.login-camera {
    margin: 0 auto;
    width: 150px;
    height: 50px;

    background-image: url(../images/login/login_camera.png);
    background-repeat: no-repeat;
    background-size: 50px;
}

.login-camera p {
    margin-left: 60px;
}

/* 二维码 */

.login-code {
    margin: 0 auto;
    margin-bottom: 35px;
    width: 200px;
    height: 200px;

    font-size: 0;

    background-image: url(../images/login/qc_code.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200px;
}

.login-cont2 p:last-child {
    font: normal 18px/25px "微软雅黑";
}

.tabOn {
    display: block;
}

/* 切换区 */

.change-hide1,
.change-hide2 {
    position: absolute;
    top: 35px;
    right: 35px;
    z-index: 1;

    width: 50px;
    height: 50px;

    font-size: 0;

    background-repeat: no-repeat;
    background-position: right top;

    cursor: pointer;
}

.change-hide1 {
    right: 0;
}
