@charset "UTF-8";

.pay-box {
    margin-top: 35px;
    margin-bottom: 60px;
    box-sizing: border-box;
    padding: 25px;
    height: 940px;

    background-color: #fff;
}

/* 支付进度栏 */

.pay-label {
    position: relative;
}

.pay-label ul {
    float: right;

    position: relative;
    z-index: 2;
}

.pay-label li {
    float: left;

    margin-left: 20px;
    width: 150px;
    height: 80px;

    text-align: center;
}

.pay-label p {
    font: bold 16px/32px "微软雅黑";
}

.pay-label-num {
    margin: 0 auto;
    border: 1px solid #1b1b1b;
    border-radius: 50%;
    width: 33px;
    height: 33px;

    font: bold 16px/32px "微软雅黑";
    text-align: center;

    background-color: #fff;
}

.pay-label-num.tabOn {
    border: 1px solid #c0bebe;

    color: #fff;
    background-color: #feb80f;
}

.pay-label-line {
    position: absolute;
    top: 48px;
    right: 92px;

    border: 2px solid #c0bebe;
    width: 472px;

    font-size: 0;
}

/* 支付进度内容 */

/* 支付进度内容-第1步-收货地址-地址选择 */

.pay-locals {
    border-top: 2px solid #c0bebe;
    padding: 20px;
}

.pay-local {
    float: left;

    margin: 12px;
    box-sizing: border-box;
    border: 1px solid #c0bebe;
    padding: 10px;
    width: 250px;
    height: 150px;
}

.pay-local h3 {
    height: 30px;

    font: normal 18px/30px "微软雅黑";
}

/* 支付进度内容-第1步-收货地址-确认订单 */

.pay-table {
    border-top: 2px solid #c0bebe;
    border-bottom: 2px solid #c0bebe;
    padding: 20px;
}

.pay-table table {
    width: 100%;
}

/* 支付进度内容-第1步-收货地址-确认订单-店铺名 */

.pay-table-shop {
    height: 40px;

    text-align: left;
}

.pay-table-shop th {
    border-bottom: 1px solid #c0bebe;
    height: 40px;
}

/* 支付进度内容-第1步-收货地址-确认订单-图片 */

.pay-table-pic {
    width: 140px;
}

.pay-table-pic img {
    width: 110px;
}

/* 支付进度内容-第1步-收货地址-确认订单-描述 */

.pay-table-text {
    width: 260px;
}

.pay-table-text p {
    margin-bottom: 40px;

    font: normal 14px/18px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

.pay-table-text span {
    display: inline-block;

    width: 40px;
    height: 20px;

    text-align: center;

    color: #fff;
}

.pay-table-text span {
    background-color: #ff9c00;
}

/* 支付进度内容-第1步-收货地址-确认订单-颜色尺寸 */

.pay-table-color {
    width: 160px;
}

/* 支付进度内容-第1步-收货地址-确认订单-单价 */

.pay-table-price {
    width: 160px;
}

.pay-table-price p {
    margin-bottom: 10px;

    font: bold 18px/20px "微软雅黑";

    color: #e50500;
}

.pay-table-price span {
    font: bold 14px/20px "微软雅黑";

    color: #e50500;
}

.pay-table-price span i {
    font: italic 14px/20px "微软雅黑";

    color: #9f9f9f;
}

/* 支付进度内容-第1步-收货地址-确认订单-数量 */

.pay-table-count {
    width: 220px;

    text-align: center;
}

.pay-table-count button {
    width: 20px;
    height: 20px;
}

.pay-table-count input {
    border: 1px solid #9f9f9f;
    width: 40px;
    height: 30px;

    text-align: center;

    outline: none;
}

.pay-table-count .add {
    cursor: pointer;
}

.pay-table-count .sum {
    /* font-size: 0; */
    display: none;
}

/* 支付进度内容-第1步-收货地址-确认订单-小计 */

.single-sum {
    font: bold 16px/20px "微软雅黑";

    color: #f00;
}

/* 支付进度内容-第1步-收货地址-留言 */

.pay-table-comment {
    margin-top: 10px;

    font: normal 16px/20px "微软雅黑";

    color: #9f9f9f;
}

.pay-table-comment input {
    border: 1px solid #9f9f9f;
    padding-left: 10px;
    width: 300px;
    height: 30px;

    outline: none;
}

/* 支付进度内容-第2步-支付方式 */

.pay-cont2 {
    display: none;
}

/* 支付进度内容-第2步-支付方式-具体方式 */

.pay-choice {
    box-sizing: border-box;
    border-top: 2px solid #c0bebe;
    border-bottom: 2px solid #c0bebe;
    padding: 20px 30px;
    height: 100px;
}

.pay-choice img {
    margin-right: 40px;
    border: 2px solid #c0bebe;
    width: 180px;
    height: 58px;
}

.pay-choice a {
    color: #5f5f5f;
}

/* 支付进度内容-第2步-支付方式-账单信息 */

.pay-address {
    float: right;

    color: #5f5f5f;
}

.pay-address p {
    margin-top: 20px;

    font: normal 16px/16px "微软雅黑";
    text-align: right;
}

.pay-address span {
    color: #1b1b1b;
}

.pay-address .pay-address-single-sum {
    font-weight: bold;

    color: #f00;
}

.pay-address button {
    width: 200px;
    height: 50px;

    font: normal 20px/50px "微软雅黑";
    letter-spacing: 8px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

/* 支付进度内容-第3步-确认付款 */

.pay-cont3 {
    display: none;
}

/* 支付进度内容-第3步-确认付款-订单信息 */

.pay-list {
    border-top: 2px solid #c0bebe;
    border-bottom: 2px solid #c0bebe;
    padding: 30px;
    padding-bottom: 50px;
}

.pay-list h3 {
    float: right;

    height: 40px;

    font: bold 20px/40px "微软雅黑";
}

.pay-list h3 span {
    color: #f00;
}

/* 支付进度内容-第3步-确认付款-订单信息-表格 */

.pay-list table {
    width: 100%;
    height: 200px;

    text-align: center;
}

.pay-list tr,
.pay-list td {
    border: 1px solid #c0bebe;
}

.pay-list tr:first-child {
    height: 40px;

    background-color: #e9f3ff;
}

.pay-list td {
    padding: 10px;
}

.pay-list td img {
    width: 100px;
}

.pay-list td p {
    display: inline-block;

    text-align: left;
}

/* 支付进度内容-第3步-确认付款-订单信息-地址 */

.pay-cont3-address {
    margin-top: 30px;
    width: 100%;
}

.pay-cont3-address p {
    margin: 0;

    font: normal 16px/16px "微软雅黑";
}

.pay-cont3-address span {
    display: inline-block;

    width: 150px;
    height: 40px;

    text-align: right;
}

.pay-cont3-submit {
    width: 100%;

    text-align: center;
}

.pay-cont3-submit button {
    margin-top: 30px;
    width: 200px;
    height: 50px;

    font: normal 20px/50px "微软雅黑";
    letter-spacing: 8px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

/* 支付进度内容-第4步-商品评价 */

.pay-cont4 {
    display: none;
}

/* 支付进度内容-第4步-商品评价-评论输入 */

.pay-comment {
    box-sizing: border-box;
    border-top: 2px solid #c0bebe;
    border-bottom: 2px solid #c0bebe;
    padding: 30px 30px;
}

/* 支付进度内容-第4步-商品评价-评论输入-左边图片 */

.pay-comment-l {
    width: 135px;
    height: 215px;
}

.pay-comment-l img {
    width: 135px;
    height: 135px;
}

.pay-comment-l p {
    font: normal 14px/18px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

/* 支付进度内容-第4步-商品评价-评论输入-中间文本 */

.pay-comment-m {
    margin: 0 25px;
    box-sizing: border-box;
    width: 575px;
    height: 215px;
}

.pay-comment-m textarea {
    border-radius: 3px;
    width: 575px;
    height: 175px;

    outline: none;

    resize: none;
}

.pay-comment-m button {
    float: left;

    border-radius: 3px;
    width: 95px;
    height: 30px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

.pay-comment-m label {
    float: right;

    margin: 0 20px;
}

/* 支付进度内容-第4步-商品评价-评论输入-右边打分 */

.pay-comment-r
> div {
    margin-top: 10px;
    height: 50px;
}

.pay-comment-r p {
    float: left;

    width: 200px;

    font: normal 14px/18px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

.pay-stars-bg {
    float: left;

    width: 110px;
    height: 22px;

    background-image: url(../images/pay/stars.png);
    background-position-y: -44px;
    background-size: 22px 44px;
}

.pay-stars-in {
    width: 58px;
    height: 22px;

    background-image: url(../images/pay/stars.png);
    background-size: 22px 44px;
}

/* 支付进度内容-第4步-商品评价-提交按钮 */

.comment-submit {
    text-align: center;
}

.comment-submit button {
    margin: 25px auto;
    width: 200px;
    height: 55px;

    font: normal 18px/55px "微软雅黑";
    letter-spacing: 8px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

/* 支付进度内容-第4步-商品评价-猜你喜欢 */

.guess-like {
    width: 1150px;
    height: 282px;
}

.guess-like h2 {
    border-bottom: 1px solid #d9d9d9;

    font: normal 18px/30px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

/* 支付进度内容-第4步-商品评价-猜你喜欢-图片 */

.guess-like {
    width: 1150px;
    height: 282px;
}

.guess-like h2 {
    border-bottom: 1px solid #d9d9d9;

    font: normal 18px/30px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

/* 猜你喜欢-图片 */

.guess-like-pics {
    overflow: hidden;

    margin-top: 25px;
    width: 1150px;
    /* height: 400px; */
}

/* 猜你喜欢-图片-每个图片 */

.guess-like-pic {
    float: left;
    overflow: hidden;

    position: relative;
    top: 0;
    left: 0;

    width: 175px;
    width: 3450px;
    height: 230px;

    color: #333;
}

.guess-like-pic ul {
    float: left;

    width: 1150px;
}

.guess-like-pic li {
    float: left;

    margin-right: 20px;
    width: 175px;
    height: 230px;
}

.guess-like-pic li:last-child {
    margin-right: 0;
}

/* 猜你喜欢-图片-圆角 */

.guess-like-pic-radius {
    overflow: hidden;

    border-radius: 15px;
    width: 175px;
    height: 175px;
}

/* 猜你喜欢-图片-大小 */

.guess-like-pic img {
    width: 175px;
}

/* 猜你喜欢-图片-价格 */

.guess-like-pic p {
    overflow: hidden;

    font: normal 16px/30px "微软雅黑";
    font-size: 16px;
    white-space: nowrap;
    letter-spacing: 1px;
    text-overflow: ellipsis;
}

.guess-like-pic span {
    font: normal 14px/30px "微软雅黑";
    letter-spacing: 1px;
}

.guess-change {
    cursor: pointer;
}

.guess-like-pic span {
    font: normal 14px/30px "微软雅黑";
    letter-spacing: 1px;
}

/* 支付进度内容-第5步-完成并跳转 */

.pay-cont5 {
    display: none;

    margin: 0 auto;
    margin-top: 40px;
    width: 400px;

    text-align: center;
}

.pay-cont5 .finish {
    margin: 0 auto;
    width: 125px;
    height: 125px;

    font-size: 0;

    background-image: url(../images/register_finish.png);
    background-repeat: no-repeat;
}

.pay-cont5 p {
    font: normal 20px/40px "微软雅黑";
    letter-spacing: 3px;
}
