@charset "UTF-8";

/* 商品展示 */

.product-show {
    height: 600px;
}

/* 商品展示-大图 */

.product-pic {
    width: 600px;
    height: 726px;
}

#magnifier {
    position: relative;

    margin: 54px 0 0 70px;
    width: 450px;
}

.small-box {
    overflow: hidden;

    position: relative;

    margin-bottom: 20px;
    border: 1px solid #eee;
    width: 450px;
    height: 450px;
}

.small-box table td {
    width: 450px;
    height: 450px;

    text-align: center;
}

.small-box img {
    /* width: 450px; */
    width: auto;
    max-width: 450px;
    height: auto;
    max-height: 450px;
}

.small-box .hover {
    display: none;

    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid #aaa;
    width: 200px;
    height: 200px;

    background: #09f;

    opacity: .5;

    cursor: move;

    filter: alpha(opacity=50);
}

.thumbnail-box {
    position: relative;

    width: 100%;
}

.thumbnail-box .btn {
    position: absolute;
    top: 50%;

    margin-top: -16px;
    width: 22px;
    height: 32px;
}

.thumbnail-box .btn-prev {
    left: 0;

    background: url(../images/product/btn_prev.png) no-repeat;
}

.thumbnail-box .btn-prev.btn_prev_disabled {
    background: url(../images/product/btn_prev_disabled.png) no-repeat;

    cursor: not-allowed;
}

.thumbnail-box .btn-next {
    right: 0;

    background: url(../images/product/btn_next.png) no-repeat;
}

.thumbnail-box .btn-next.btn_next_disabled {
    background: url(../images/product/btn_next_disabled.png) no-repeat;

    cursor: not-allowed;
}

.thumbnail-box .list {
    overflow: hidden;

    margin: 0 auto;
    width: 390px;
}

.thumbnail-box .wrapper {
    width: 100000px;
}

.thumbnail-box .list .item {
    float: left;

    margin: 0 10px;
}

.thumbnail-box .list .item img {
    border: 2px solid #a9a9a9;
    width: 54px;
    height: 54px;
}

.thumbnail-box .list .item-cur img {
    border: 2px solid #e53e41;
}

.big-box {
    display: none;
    overflow: hidden;

    position: absolute;
    top: 0;
    left: 451px;

    border: 1px solid #e4e4e4;
    width: 540px;
    height: 540px;
}

.big-box img {
    /* width: 540px;
    height: 540px; */
    /* 宽高可注释 */
    display: block;
}

/* 商品展示-价格 */

.product-text {
    width: 570px;
}

.product-text h2 {
    width: 533px;
    height: 60px;

    font: bold 20px/30px "微软雅黑";
    letter-spacing: 1px;

    color: #000;
}

.product-text
> p {
    height: 24px;

    font: normal 16px/24px "微软雅黑";

    color: #f00;
}

.product-price p span {
    display: inline-block;

    width: 100px;
    height: 12px;

    font-size: 14px;
    font-weight: normal;
    line-height: 24px;

    color: #808080;
}

/* 商品展示-价格-原价 */

.product-price .price del {
    font: normal 12px/24px "微软雅黑";

    color: #333;
}

/* 商品展示-价格-折扣价 */

.product-price .cut-price strong {
    width: 183px;

    font: bold 14px/24px "微软雅黑";

    color: #fb1414;
}

/* 商品展示-价格-活动 */

.product-price .active {
    font: normal 14px/24px "微软雅黑";

    color: #b05811;
}

/* 商品展示-价格-运费 */

.product-price .fare {
    font: normal 14px/24px "微软雅黑";

    color: #808080;
}

/* 商品展示-价格-月销量 */

.product-price .month {
    margin-top: 10px;
    border-top: 1px dashed #808080;
    border-bottom: 1px dashed #808080;
    width: 570px;
    height: 40px;
}

.product-price .month span {
    display: inline-block;

    border-right: 1px solid #cbcbcb;
    width: 180px;

    font: normal 14px/40px "微软雅黑";
    text-align: center;

    color: #808080;
}

.product-price .month span:last-child {
    border: 0;
}

.product-price .month strong {
    font: bold 18px/24px "微软雅黑";
    letter-spacing: 1px;

    color: #f00;
}

/* 商品展示-价格-颜色分类 */

.product-price .color-text {
    margin-left: 107px;
    width: 460px;
}

.product-price .color a {
    display: inline-block;

    margin-bottom: 5px;
    border: 1px solid #808080;
    width: 220px;
    height: 30px;

    line-height: 30px;
    text-align: center;

    color: #333;
}

/* 商品展示-价格-数量 */

.product-price p {
    margin-top: 10px;
}

.product-price .count input {
    border: 1px solid #808080;
    width: 80px;
    height: 30px;

    font: normal 18px/30px "微软雅黑";

    color: #333;

    outline: none;
}

/* 商品展示-价格-分期 */

.product-price .ali {
    height: 90px;
}

.product-price .ali span {
    line-height: 90px;
}

.product-price .ali a {
    display: inline-block;

    border: 1px solid #808080;
    width: 140px;
    height: 64px;

    line-height: 32px;
    text-align: center;

    color: #333;
}

/* 商品展示-价格-购买按钮 */

.product-price .btn {
    margin-left: 107px;
    width: 410px;
}

.product-price button {
    box-sizing: border-box;
    border: 1px solid #ff8a00;
    width: 200px;
    height: 34px;

    color: #ff8a00;
    background-color: #ffeb8a;
}

.product-price button:hover {
    border: 1px solid #ff8a00;

    background-color: #feb80f;
}

.product-price button a {
    color: #ff8a00;
}

.product-price button:hover a {
    color: #fff;
}

/* 商品展示-价格-收藏 */

.product-price .get {
    margin-left: 450px;
}

.product-price .get a {
    color: #333;
}

/* 商品介绍 */

.product-inf {
    margin-top: 20px;
}

/* 左边 */

.product-inf-l {
    width: 965px;
}

/* 标签 */

.product-inf-l .tabs {
    box-sizing: border-box;
    border-bottom: 3px solid #feb80f;
    width: 965px;
    height: 50px;
}

.product-inf-l li {
    float: left;

    margin-right: 10px;
    border-radius: 10px 10px 0 0;
    width: 180px;
    height: 47px;

    font: bold 18px/50px "微软雅黑";
    text-align: center;
    letter-spacing: 4px;

    color: #969695;
    background-color: #dbdbdb;

    cursor: pointer;
}

.product-inf-l li:hover {
    color: #fff;
    background-color: #feb80f;
}

.product-inf-l li.tabOn {
    color: #fff;
    background-color: #feb80f;

    cursor: pointer;
}

/* 商品介绍-左边-内容 */

.product-inf-conts {
    margin-top: 10px;
}

.product-inf-conts .contOn {
    display: block;
}

/* 商品介绍-左边-内容-产品介绍图 */

.product-inf-cont1 {
    display: none;
}

.product-inf-cont1 div {
    margin-bottom: 10px;
    width: 965px;
    width: 965px;
}

.product-inf-cont1-pic3 img {
    width: 965px;
}

/* 商品介绍-左边-内容-积累评价 */

.product-inf-cont2 {
    display: none;

    background-color: #fff;
}

/* 商品介绍-内容-累积评价-评分栏 */

.product-marks {
    box-sizing: border-box;
    padding: 0 40px;
    width: 965px;
    height: 110px;
}

.product-marks h3 {
    margin: 5px 0;
    height: 30px;

    font: normal 14px/30px "微软雅黑";

    color: #808080;
}

.product-mark span {
    height: 50px;

    font: bold 50px/50px "微软雅黑";
    letter-spacing: 1px;

    color: #fe520f;
}

/* 商品介绍-内容-累积评价-评分栏-星星 */

.product-stars {
    box-sizing: border-box;
    border-right: 1px solid #808080;
    padding: 10px;
    width: 250px;
    height: 50px;
}

.product-stars-bg {
    width: 220px;
    height: 44px;

    background-image: url(../images/product/stars.png);
    background-position-y: -44px;
}

.product-stars-in {
    width: 195px;
    height: 44px;

    background-image: url(../images/product/stars.png);
}

/* 商品介绍-内容-累积评价-评分栏-好评率 */

.product-present {
    margin-left: 20px;

    font: normal 16px/24px "微软雅黑";

    color: #333;
}

.product-present-pic {
    width: 500px;
    height: 18px;

    background-color: #d6d6d6;
}

.product-present-innerpic {
    width: 400px;
    height: 18px;

    background-color: #2e9aff;
}

/* 商品介绍-内容-累积评价-筛选栏 */

.product-filter {
    border-top: 1px solid #7c7c7c;
    width: 965px;
    height: 50px;

    font: normal 16px/50px "微软雅黑";

    color: #555;
    background-color: #f6f6f6;
}

.product-filter input {
    margin-left: 40px;
}

.product-filter select {
    margin-top: 12px;
    margin-right: 40px;
    width: 110px;
    height: 26px;

    outline: none;
}

/* 商品介绍-内容-累积评价-评论内容 */

.product-comment {
    padding: 10px 20px;
}

.product-comment-cont {
    border-bottom: 2px dashed #bfbec5;
    padding: 0 20px;
    height: 240px;
}

.product-comment-text {
    padding-top: 10px;
    width: 560px;
}

.product-comment-text p:first-child {
    height: 40px;

    font: normal 16px/24px "微软雅黑";
    font-size: 16px;

    color: #555;
}

.product-comment-text img {
    border: 1px solid black;
    width: 54px;
    height: 54px;
}

.product-comment-text p:nth-child(4) {
    height: 11px;
    height: 40px;

    font: normal 16px/40px "微软雅黑";

    color: #9f9f9f;
}

.product-comment-text p:last-child {
    height: 62px;

    font: normal 14px/24px "微软雅黑";

    color: #ab5d00;
}

.product-comment-name {
    font: normal 16px/240px "微软雅黑";
    text-indent: 10em;

    color: #333;
}

/* 商品介绍-左边-内容-积累评价-页码 */

.product-inf-page {
    margin: 0 auto;
    margin-top: 100px;
    width: 340px;
    height: 50px;
}

.product-inf-page a {
    display: inline-block;

    border: 1px solid #58575c;
    width: 26px;
    height: 26px;

    font: normal 14px/26px "微软雅黑";
    text-align: center;

    color: #58575c;

    cursor: pointer;
}

.product-inf-page a:nth-child(1),
.product-inf-page a:nth-child(6),
.product-inf-page a:nth-child(7) {
    width: 60px;
}

/* 右边 */

.product-inf-r {
    width: 210px;

    text-align: center;
}

.product-inf-r h2 {
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
    width: 210px;
    height: 50px;

    font: bold 18px/50px "微软雅黑";
    letter-spacing: 4px;

    color: #fff;
    background-color: #feb80f;
}

.product-inf-rpic {
    overflow: hidden;

    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #bfbec5;
    width: 210px;
    height: 210px;

    background-color: #fff;
}

.product-inf-rpic img {
    width: 170px;
    height: 170px;
}

.product-inf-rpic p {
    font: normal 14px/24px "微软雅黑";
    font-weight: normal;
    text-align: center;

    color: #808080;
}
