@charset "utf-8";
body {
    background-color: #f4f4f4;
}

main {
    width: 1000px;
    height: 698px;
    border-top: 2px solid #dadadb;
    margin: 25px auto 65px auto;
    background-color: #ffffff;
}

/* 注册-标签栏 */

.register-tabs {
    margin: 0 auto;
    width: 840px;
    height: 63px;
    border-bottom: 2px solid #dadadb;
    text-align: center;
}

.register-tabs li {
    display: inline-block;
    width: 220px;
    font: bold 16px/63px "微软雅黑";
}

.register-tabs li.tabOn {
    border-bottom: 2px solid #ff9c00;
}

/* 注册内容大区域 */

.register-conts {
    margin: 0 auto;
    margin-top: 46px;
    width: 700px;
    height: 533px;
    border: 1px solid #dadadb;
    border-top: 2px solid #ff9c00;
    box-sizing: border-box;
    padding: 25px;
}

.contOn {
    display: block;
}

/* 注册协议 */

.register-cont1 {
    color: #666666;
}

.register-cont1 h3 {
    font: bold 16px/24px "微软雅黑";
}

.register-cont1 p {
    margin-top: 8px;
    font: normal 12px/30px "微软雅黑";
}

.register-cont1 p:nth-child(4) {
    font: bold 12px/24px "微软雅黑";
    color: #ff9c00;
}

.register-cont1 p:last-child {
    text-align: center;
}

.register-cont1 button {
    width: 180px;
    height: 38px;
    background-color: #ff9c00;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 3px;
    font: bold 16px/16px "微软雅黑";
}

/* 账号信息 */

.register-cont2 {
    width: 400px;
    margin: 0 auto;
    margin-top: 40px;
    text-align: center;
    display: none;
}

.register-cont2 span {
    display: inline-block;
    width: 85px;
    height: 30px;
    text-align: right;
    letter-spacing: 3px;
    font: normal 14px/30px "微软雅黑";
    color: #395c59;
}

.register-cont2 input {
    width: 295px;
    height: 30px;
    border: 1px solid #dadadb;
    box-sizing: border-box;
}

.mail input, .v-code input {
    width: 165px;
}

.mail select {
    margin-left: 5px;
    width: 115px;
    height: 30px;
    border: 1px solid #dadadb;
}

.v-code button {
    margin-left: 5px;
    width: 115px;
    height: 30px;
    background-color: #ff9c00;
    letter-spacing: 2px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

.register-cont2 p:last-child {
    margin-top: 40px;
}

.register-cont2 p:last-child button {
    width: 180px;
    height: 38px;
    background-color: #ff9c00;
    border-radius: 15px;
    color: #ffffff;
    cursor: pointer;
    letter-spacing: 3px;
    font: bold 16px/16px "微软雅黑";
}

/* 账号信息验证提示 */

.register-cont2 .register-inf {
    display: block;
    font: normal 14px/14px "微软雅黑";
    color: #ff0000;
    height: 20px;
    width: 390px;
    text-align: right;
    letter-spacing: 0px;
}

/* 注册成功 */

.register-cont3 {
    text-align: center;
    width: 400px;
    margin-top: 40px;
    margin: 0 auto;
    display: none;
}

.register-cont3 .finish {
    background-image: url(../images/register_finish.png);
    background-repeat: no-repeat;
    width: 125px;
    height: 125px;
    font-size: 0;
    margin: 0 auto;
}

.register-cont3 p {
    font: normal 20px/40px "微软雅黑";
    letter-spacing: 3px;
}

/* 密码强度 */

.register-cont2 .register-psw-safebox {
    display: inline-block;
    vertical-align: middle;
    width: 295px;
    height: 20px;
    box-sizing: border-box;
}

.register-cont2 .register-psw-safebox span {
    display: inline-block;
    height: 20px;
    width: 93px;
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
}

.register-cont2 .register-psw-safebox .register-psw-safe0 {
    background-color: #ff0000;
    display: none;
}

.register-cont2 .register-psw-safebox .register-psw-safe1 {
    background-color: #fdfc02;
    display: none;
}

.register-cont2 .register-psw-safebox .register-psw-safe2 {
    background-color: #fed500;
    display: none;
}

.register-cont2 .register-psw-safebox .register-psw-safe3 {
    background-color: #27ea05;
    display: none;
}