@charset "utf-8";

body {
    background-color: #f4f4f4;
}

main {
    margin: 25px auto 65px auto;
    border-top: 2px solid #dadadb;
    width: 1000px;
    height: 698px;

    background-color: #fff;
}

/* 注册-标签栏 */

.register-tabs {
    margin: 0 auto;
    border-bottom: 2px solid #dadadb;
    width: 840px;
    height: 63px;

    text-align: center;
}

.register-tabs li {
    display: inline-block;

    width: 220px;

    font: bold 16px/63px "微软雅黑";
}

.register-tabs li.tabOn {
    border-bottom: 2px solid #ff9c00;
}

/* 注册内容大区域 */

.register-conts {
    margin: 0 auto;
    margin-top: 46px;
    box-sizing: border-box;
    border: 1px solid #dadadb;
    border-top: 2px solid #ff9c00;
    padding: 25px;
    width: 700px;
    height: 533px;
}

.contOn {
    display: block;
}

/* 注册协议 */

.register-cont1 {
    color: #666;
}

.register-cont1 h3 {
    font: bold 16px/24px "微软雅黑";
}

.register-cont1 p {
    margin-top: 8px;

    font: normal 12px/30px "微软雅黑";
}

.register-cont1 p:nth-child(4) {
    font: bold 12px/24px "微软雅黑";

    color: #ff9c00;
}

.register-cont1 p:last-child {
    text-align: center;
}

.register-cont1 button {
    border-radius: 15px;
    width: 180px;
    height: 38px;

    font: bold 16px/16px "微软雅黑";
    letter-spacing: 3px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

/* 账号信息 */

.register-cont2 {
    display: none;

    margin: 0 auto;
    margin-top: 40px;
    width: 400px;

    text-align: center;
}

.register-cont2 span {
    display: inline-block;

    width: 85px;
    height: 30px;

    font: normal 14px/30px "微软雅黑";
    text-align: right;
    letter-spacing: 3px;

    color: #395c59;
}

.register-cont2 input {
    box-sizing: border-box;
    border: 1px solid #dadadb;
    width: 295px;
    height: 30px;
}

.mail input,
.v-code input {
    width: 165px;
}

.mail select {
    margin-left: 5px;
    border: 1px solid #dadadb;
    width: 115px;
    height: 30px;
}

.v-code button {
    margin-left: 5px;
    border-radius: 5px;
    width: 115px;
    height: 30px;

    letter-spacing: 2px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

.register-cont2 p:last-child {
    margin-top: 40px;
}

.register-cont2 p:last-child button {
    border-radius: 15px;
    width: 180px;
    height: 38px;

    font: bold 16px/16px "微软雅黑";
    letter-spacing: 3px;

    color: #fff;
    background-color: #ff9c00;

    cursor: pointer;
}

/* 账号信息验证提示 */

.register-cont2 .register-inf {
    display: block;

    width: 390px;
    height: 20px;

    font: normal 14px/14px "微软雅黑";
    text-align: right;
    letter-spacing: 0;

    color: #f00;
}

/* 注册成功 */

.register-cont3 {
    display: none;

    margin: 0 auto;
    margin-top: 40px;
    width: 400px;

    text-align: center;
}

.register-cont3 .finish {
    margin: 0 auto;
    width: 125px;
    height: 125px;

    font-size: 0;

    background-image: url(../images/register_finish.png);
    background-repeat: no-repeat;
}

.register-cont3 p {
    font: normal 20px/40px "微软雅黑";
    letter-spacing: 3px;
}

/* 密码强度 */

.register-cont2 .register-psw-safebox {
    display: inline-block;

    box-sizing: border-box;
    width: 295px;
    height: 20px;

    vertical-align: middle;
}

.register-cont2 .register-psw-safebox span {
    display: inline-block;
    float: left;

    margin: 0;
    padding: 0;
    width: 93px;
    height: 20px;

    text-align: left;
}

.register-cont2 .register-psw-safebox .register-psw-safe0 {
    display: none;

    background-color: #f00;
}

.register-cont2 .register-psw-safebox .register-psw-safe1 {
    display: none;

    background-color: #fdfc02;
}

.register-cont2 .register-psw-safebox .register-psw-safe2 {
    display: none;

    background-color: #fed500;
}

.register-cont2 .register-psw-safebox .register-psw-safe3 {
    display: none;

    background-color: #27ea05;
}
