@charset "UTF-8";

body {
    background-color: #f7f7f7;
}

/* 横幅 */

.banner {
    height: 473px;

    background-image: url(../images/sale/sale_banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.banner-inf {
    top: 40px;
    right: 40px;

    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px;
    width: 270px;
    height: 395px;

    color: #fff;
    background-color: rgba(1, 126, 154, .7);
}

.banner-inf h2 {
    font: bold 24px/60px "微软雅黑";
    text-align: center;
}

.banner-inf dt {
    margin-top: 8px;

    font: bold 16px/30px "微软雅黑";
}

.banner-inf dd {
    float: left;

    margin-left: 10px;

    font: bold 14px/30px "微软雅黑";
    text-align: center;
}

/* 推荐品牌*/

.recommend {
    margin-top: 45px;
    height: 496px;
}

.recommend h3 {
    padding: 0 16px;
    height: 50px;

    font: bold 24px/50px "微软雅黑";

    background-color: #fff;
}

.recommend-special {
    height: 370px;
}

.recommend .special1 {
    width: 234px;
    height: 370px;
}

.recommend .special2 {
    overflow: hidden;

    margin-left: 13px;
    width: 470px;
    height: 370px;
}

.recommend .special2 img {
    height: 370px;
}

/* 推荐广告*/

.recommend-ad div {
    float: left;
    overflow: hidden;

    margin-top: 25px;
    margin-right: 20px;
    width: 285px;
    height: 101px;
}

.recommend-ad div:last-child {
    margin-right: 0;
}

.recommend-ad div img {
    width: 285px;
}

/* 女装 */

.woman {
    margin-top: 45px;
    height: 500px;
}

/* 标题栏 */

.titles {
    margin: 0 auto;
    height: 60px;

    text-align: center;
}

.titles h2 {
    display: inline-block;

    margin: auto 40px;

    font: bold 30px/50px "微软雅黑";

    color: #333;
}

.titles img {
    margin-top: -10px;
}

.titles h3 {
    font: normal 18px/10px "微软雅黑";

    color: #8f8f8f;
}

.cloth-show {
    margin-top: 30px;
    height: 410px;
}

/* 左边栏 */

.show-picl {
    overflow: hidden;

    position: relative;

    width: 272px;
    height: 410px;
}

.show-picl img {
    /* width: 272px; */
    height: 410px;
}

.show-picl
> div {
    position: absolute;
    top: 0;

    width: 272px;
    height: 100px;
}

.show-picl .show-pla {
    float: left;

    margin: 20px 10px 0;
    border: 1px solid #fff;
    width: 113px;
    height: 35px;

    line-height: 35px;
    text-align: center;

    color: #fff;
    background-color: rgba(255, 255, 255, .3);
}

.show-picl .show-pla:hover {
    background-color: rgba(0, 0, 0, .3);

    cursor: default;
}

/* 中间栏 */

.show-picm {
    margin: auto 15px;
    width: 624px;
    height: 410px;
}

.show-picm div {
    float: left;
    overflow: hidden;

    width: 312px;
    height: 205px;

    background-color: #fff;
}

.show-picm1 img {
    width: 312px;
    height: 205px;
}

.show-picm2 {
    box-sizing: border-box;
    padding: 20px;
}

.show-picm2 div {
    width: 100px;
}

.show-picm2 h2 {
    font: bold 18px/24px "微软雅黑";
}

.show-picm2 span {
    font: normal 16px/24px "微软雅黑";

    color: #f00;
}

.show-picm2 h3 {
    margin-top: 58px;

    font: bold 20px/24px "微软雅黑";
}

.show-picm2 h4 {
    font: bold 12px/24px "微软雅黑";

    color: #888;
}

.show-picm2 img {
    float: right;

    width: 135px;
    height: 135px;
}

/* 右边栏 背景图 */

.show-picr {
    box-sizing: border-box;
    padding: 20px;
    width: 274px;
    height: 410px;

    background-color: #fff;
    background-image: url(../images/sale/sale_medal.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 88px;
}

.show-picr h2 {
    font: bold 18px/24px "微软雅黑";
}

/* 右边栏销量榜 手风琴效果 */

.show-top-pic {
    float: left;
    overflow: hidden;

    width: 100px;
    height: 100px;
}

.show-top-pic img {
    width: 100px;
}

.show-picr dt {
    height: 40px;

    font: bold 14px/40px "微软雅黑";

    color: #333;
}

.show-picr dd {
    display: none;
}

.show-top-price {
    float: right;

    width: 130px;
    height: 100px;

    font: bold 14px/24px "微软雅黑";

    color: #333;
}

.show-top-price span {
    font: bold 20px/40px "微软雅黑";
}

/* 背景图颜色 */

/* 品牌专区 */

.brand {
    margin-top: 45px;
}

.brand-show {
    margin-top: 30px;
}

/* 品牌上部 介绍 */

.brand-up {
    margin: 0 auto;
    width: 1089px;
    height: 275px;
}

.brand-up-pic {
    overflow: hidden;

    width: 565px;
    height: 275px;
}

.brand-up span {
    font: bold 30px/36px "微软雅黑";
}

.brand-up p {
    width: 495px;
    height: 275px;

    font: normal 16px/36px "微软雅黑";

    color: #808080;
}

.brand-up a {
    display: inline-block;

    margin-top: 60px;
    border: 1px solid #000;
    width: 324px;
    height: 62px;

    font: bold 24px/62px "微软雅黑";
    text-align: center;
    letter-spacing: 10px;

    color: slategray;
}

/* 品牌下部 展览 */

.brand-down {
    margin-top: 50px;
}

.brand-down-pic {
    float: left;
    overflow: hidden;

    margin-right: 20px;
    width: 285px;
    height: 250px;

    text-align: center;
}

.brand-down-pic:last-child {
    margin-right: 0;
}

.brand-down-pic img {
    width: 285px;
}

.brand-down-pic h3 {
    font: normal 24px/36px "微软雅黑";
    letter-spacing: 1px;

    color: #333;
}

.brand-down-pic p {
    font: normal 14px/36px "微软雅黑";

    color: #808080;
}
