@font-face {
  font-family: "iconfont"; /* Project id 2643995 */
  src: url('iconfont.woff2?t=1625647316488') format('woff2'),
       url('iconfont.woff?t=1625647316488') format('woff'),
       url('iconfont.ttf?t=1625647316488') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-run-over:before {
  content: "\e980";
}

.icon-footer-social:before {
  content: "\e6fa";
}

.icon-login-wechat:before {
  content: "\e83a";
}

.icon-toast-wrong:before {
  content: "\e641";
}

.icon-toast-correct:before {
  content: "\e666";
}

.icon-mineInfo-back:before {
  content: "\e83b";
}

.icon-mine-detail:before {
  content: "\e647";
}

.icon-mine-vip:before {
  content: "\e62a";
}

.icon-footer-sports:before {
  content: "\e60b";
}

.icon-run-lock:before {
  content: "\e838";
}

.icon-run-unlock:before {
  content: "\e839";
}

.icon-yundong-shezhi:before {
  content: "\e603";
}

.icon-train-play-pause:before {
  content: "\e68c";
}

.icon-train-play-next:before {
  content: "\e83c";
}

.icon-run-play:before {
  content: "\e981";
}

.icon-train-detail-back:before {
  content: "\e629";
}

.icon-run-time:before {
  content: "\e651";
}

.icon-run-music:before {
  content: "\e644";
}

.icon-footer-mine:before {
  content: "\e62e";
}

.icon-run-pause:before {
  content: "\e616";
}

.icon-train-detail-play:before {
  content: "\e68a";
}

.icon-run-location:before {
  content: "\e645";
}

.icon-footer-index:before {
  content: "\e625";
}

.icon-train-play-play:before {
  content: "\e77e";
}

.icon-train-play-prev:before {
  content: "\e66d";
}

.icon-train-detail-tool:before {
  content: "\e776";
}

.icon-mine-badge:before {
  content: "\e61b";
}

.icon-run-calorie:before {
  content: "\e61c";
}

.icon-run-speed:before {
  content: "\e619";
}

.icon-mine-data:before {
  content: "\e680";
}

.icon-train-detail-frequency:before {
  content: "\e60a";
}

.icon-yundong-yinyue:before {
  content: "\e600";
}

.icon-run-setting:before {
  content: "\e6a9";
}

