@font-face {
  font-family: "iconfont"; /* Project id 2643995 */
  src: url('iconfont.woff2?t=1625567727548') format('woff2'),
       url('iconfont.woff?t=1625567727548') format('woff'),
       url('iconfont.ttf?t=1625567727548') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-footer-social:before {
  content: "\e6fa";
}

.icon-login-wechat:before {
  content: "\e83a";
}

.icon-toast-wrong:before {
  content: "\e641";
}

.icon-toast-correct:before {
  content: "\e666";
}

.icon-mineInfo-back-copy:before {
  content: "\e83b";
}

.icon-mine-detail:before {
  content: "\e647";
}

.icon-mine-vip:before {
  content: "\e62a";
}

.icon-footer-sports:before {
  content: "\e60b";
}

.icon-yunzhong-shangsuo:before {
  content: "\e838";
}

.icon-yunzhong-jiesuo:before {
  content: "\e839";
}

.icon-yundong-shezhi:before {
  content: "\e603";
}

.icon-xunlian-zanting:before {
  content: "\e68c";
}

.icon-train-detail-back:before {
  content: "\e629";
}

.icon-yunzhong-yongshi:before {
  content: "\e651";
}

.icon-yunzhong-yinyue:before {
  content: "\e644";
}

.icon-footer-mine:before {
  content: "\e62e";
}

.icon-yunzhong-zanting:before {
  content: "\e616";
}

.icon-train-detail-play:before {
  content: "\e68a";
}

.icon-yunzhong-dingwei:before {
  content: "\e645";
}

.icon-footer-index:before {
  content: "\e625";
}

.icon-xunlian-bofang:before {
  content: "\e77e";
}

.icon-xunlian-xiayibu:before {
  content: "\e66d";
}

.icon-train-detail-tool:before {
  content: "\e776";
}

.icon-mine-badge:before {
  content: "\e61b";
}

.icon-yunzhong-qianka:before {
  content: "\e61c";
}

.icon-yunzhong-peisu:before {
  content: "\e619";
}

.icon-mine-data:before {
  content: "\e680";
}

.icon-train-detail-frequency:before {
  content: "\e60a";
}

.icon-yundong-yinyue:before {
  content: "\e600";
}

.icon-yunzhong-shezhi:before {
  content: "\e6a9";
}

