@charset "utf-8";

/* 公有布局  */
html,
body {
  height: 100%;
  margin: 0 auto;
  min-width: 320px;
  max-width: 1000px;
}

.common-header {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
  height: 40px;
  align-items: center;
  border: 1px solid #ddd;
}

.common-header .header-btn {
  line-height: 40px;
  height: 40px;
  color: #9a9a9a;
  font-size: 16px;
  text-align: center;
  padding: 0 15px;
}

.common-header .header-on {
  font-size: 18px;
  color: #4294FF;
  border-bottom: 3px solid #4294FF;
}

.common-footer {
  display: flex;
  height: 75px;
  background-color: #ffffff;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 #c2c2c2;
  align-items: center;
  text-align: center;
}

.common-footer .footer-btn {
  width: 60px;
  height: 50px;
  color: #8A8A8A;
}

.common-footer .footer-btn span {
  font-size: 30px;
}

.common-footer .footer-btn p {
  margin-top: 5px;
  font-size: 14px;
}

.common-footer .footer-on {
  color: #4294FF;
}

.msg-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  padding: 20px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: normal;
}

.msg-box i {
  font-size: 50px;
  line-height: normal;
}

.msg-box .msg-text {
  line-height: normal;
}

.mine-header {
  position: relative;
  height: 50px;
  padding: 0 20px;
  color: #fff;
  background-color: #4294FF;
  font: normal 18px/50px "微软雅黑";
}

.mine-header a {
  color: #fff;
}

.mine-header .header-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* 载入 */
.load-mask,
.out-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #7ccceb;
  overflow: hidden;
  z-index: 999;
  animation-iteration-count: 1;
}

.load-mask {
  display: block;
  animation: load 1.5s;
}

.out-mask {
  display: none;
  animation: out 1s;
}

.load-mask p,
.out-mask p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
  font: bold 40px/40px "微软雅黑";
}

@keyframes load {
  0% {
    height: 100%;
    background-color: #7ccceb;

  }

  100% {
    height: 0;
    background-color: #4294ff;

  }
}

@keyframes out {
  0% {
    width: 0;
    background-color: #4294ff;
  }

  100% {
    width: 100%;
    background-color: #7ccceb;
  }
}