@charset "utf-8";

// 头部
section {
    height: 44px;

    font-weight: bold;
    line-height: 44px;
    text-align: center;

    color: #fff;
}

// 主体
main {
    background-image: url(../images/advertisement-bg.gif);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    .ad-cont {
        position: relative;

        margin: 0 auto;
        min-width: 320px;
        max-width: 1000px;
        height: 100%;

        // 跳过按钮
        .skip-btn {
            position: absolute;
            top: 40px;
            right: 20px;

            border-radius: 20px;
            width: 104px;
            height: 40px;

            font-size: 14px;
            line-height: 40px;
            text-align: center;

            background-color: #fff;
        }

        // 广告语
        .slogan {
            position: absolute;
            bottom: 100px;

            width: 100%;

            font-size: 48px;
            text-align: center;

            color: #fff;

            animation: fadeDown 2s linear;
        }
    }
}

// 广告语动画
@keyframes fadeDown {
    0% {
        bottom: 200px;

        opacity: 0;
    }

    100% {
        bottom: 100px;
;

        opacity: 1;
    }
}
