@charset "utf-8";
html,
body {
  height: 100%;
  margin: 0 auto;
  min-width: 300px;
  min-height: 500px;
}
body {
  background-image: url(../images/sign-bg.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
body .msg {
  margin-top: 15px;
  color: #fff;
  text-align: center;
}
main {
  margin: 0 auto;
  padding: 20px 0;
  width: 300px;
}
main .head {
  margin-bottom: 40px;
}
main .head h3 {
  text-align: right;
}
main .head h3 a {
  font: normal 20px/20px "微软雅黑";
  color: #fff;
}
main .head h2 {
  font-size: 28px;
  color: #fff;
}
main .head p {
  color: #8f8991;
}
main input,
main button {
  width: 300px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  text-indent: 25px;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.5);
}
main input::placeholder {
  color: #fff;
}
main .captcha-text {
  margin-left: 15px;
}
main .submit-btn {
  text-indent: 0px;
  background-color: rgba(99, 255, 167, 0.5);
}
main .foot {
  margin-top: 20px;
  color: #fff;
}
main .foot h4 {
  height: 30px;
  font-size: 14px;
}
main .foot h4 .wechat-in {
  float: right;
}
main .foot h3 {
  font: normal 16px/16px "微软雅黑";
  text-align: center;
}
