@charset "utf-8";

.common-header {
    justify-content: space-around;
    // background-color: aqua;
    padding: 0 20px;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(221, 221, 221, 100);

    a {
        line-height: 40px;
        height: 40px;
        color: rgba(154, 154, 154, 100);
        font-size: 16px;
        text-align: center;

        border-bottom: 3px solid #4294FF;
        color: rgba(66, 148, 255, 100);
        font-size: 20px;
        text-align: center;
    }
}