@charset "utf-8";

main {
    overflow-y: scroll;

    // 数据显示
    .run-title {
        height: 100px;
        padding: 15px 20px;

        .run-data {
            color: #333;

            span {
                font-size: 48px;
                color: #4294FF;
            }
        }
    }

    // 地图
    .map {
        height: 100%;
    }

    // 开始按钮
    .go-btn {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        text-align: center;
        font: bold 90px/150px "微软雅黑";
        color: #1276a8;
        background-color: rgba(66, 148, 255, .7);
    }
}

// 蒙层
.masks {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    background-color: #59b2db;

    .data-cont {
        height: 100%;
        min-width: 320px;
        max-width: 1000px;
        margin: 0 auto;
        padding: 20px;
        color: #fff;
    }
}

// 倒计时蒙层
.mask-time {
    .time-num {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        font-size: 100px;
        font-weight: bold;
        color: #fff;
    }
}

// 运动中数据蒙层
.mask-data {
    display: none;

    .mask-data-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    // 标题
    .run-category {
        color: #AAD9F7;
    }

    .run-statu {
        font: normal 22px/32px "微软雅黑";
    }

    // 公里数
    .run-mile {
        font-size: 20px;
        text-align: center;

        .mile-data {
            font-size: 100px;
        }
    }

    // GPS
    .location {
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .gps-text {
            color: #ACDFFF;
        }

        .icon-run-location {
            font-size: 40px;
        }
    }

    // 速度时间千卡
    .data-info {
        justify-content: space-between;

        .info-item {
            text-align: center;

            p {
                margin-top: 15px;
                margin-bottom: 20px;
                color: #AAD9F7;
            }

            span {
                font-size: 30px;
            }
        }
    }

    // 按钮
    .data-btns {
        justify-content: space-around;

        div {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            text-align: center;

            .iconfont {
                font-size: 36px;
            }
        }

        .pause-btn {
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: #59b2db;
            background-color: #fff;
        }

        .continue-btn {
            display: none;
            flex-direction: column;
            justify-content: center;
            background-color: #79f0c2;
        }

        .stop-btn {
            display: none;
            flex-direction: column;
            justify-content: center;
            background-color: #ff6060;
        }
    }
}

// 地图模式蒙层
.mask-map {

    // 返回按钮
    .map-back {
        width: 40px;
        height: 40px;
        border: 1px solid #bbb;
        border-radius: 50%;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        background-color: #fff;
        color: #101010;

        .icon-train-detail-back {
            font: normal 30px/40px "微软雅黑";
        }
    }

    // 结束按钮
    .map-finish {
        width: 65px;
        height: 40px;
        border: 1px solid #bbb;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
        text-align: center;
        background-color: #fff;
        color: #101010;

        span {
            font: normal 20px/40px "微软雅黑";
        }
    }

    // 数据框
    .mask-map-cont {
        position: relative;

        // 定位
        .map-text {
            position: absolute;
            left: 0;
            bottom: 70px;
            width: 100%;
            height: 140px;
            padding: 0 20px;
        }
    }

    .map-text-cont {
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
        color: #101010;
        background-color: #fff;

        .map-data {
            justify-content: space-between;
        }

        h3 {
            font: bold 18px/30px "微软雅黑";
            color: #4294FF;
            border-bottom: 2px dashed #bbb;

            .now-date {
                float: right;
                font: normal 16px/30px "微软雅黑";
                color: #8dcef7;
            }
        }

        .map-item {
            font-size: 14px;
            text-align: center;
            padding: 15px 0;

            // 数值
            span {
                font: normal 25px/50px "微软雅黑";
            }
        }
    }
}