@charset "utf-8";

// 修改 输入框 样式
/deep/ .el-form-item {
    margin-bottom: 15px;
}

/deep/ .el-input {
    width: 300px;
}

/deep/ .el-textarea__inner {
    width: 300px;
}

/deep/ .el-input-number {
    width: 300px;
}

// 修改 表格 hover颜色
/deep/ .el-table--enable-row-hover .el-table__body tr:hover
> td {
    background-color: rgba(0, 0, 0, .25) !important;
}

// 修改 弹窗 样式
/deep/ .el-dialog {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    width: 500px;

    background-color: rgba(80, 80, 80, .7);

    box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .18);
}

// 修改 弹窗 标题
/deep/ .el-dialog__title {
    color: #fff;
}

// 修改 弹窗 内部输入框
.dialog {
    .el-form-item {
        margin-bottom: 15px;
    }

    /deep/ .el-input {
        width: 300px;
    }

    /deep/ .el-textarea__inner {
        width: 300px;
    }

    /deep/ .el-input-number {
        width: 300px;
    }
}

// 修改 分页器 间距颜色
/deep/ .el-pagination {
    margin-top: 20px;
}

/deep/ .el-pagination__total {
    color: #fff;
}

/deep/ .el-pagination__jump {
    color: #fff;
}

// 修改 分页器 内部输入框长度

/deep/ .el-pagination .el-input {
    width: 80px;
}

/deep/ .el-pagination__editor.el-input .el-input__inner {
    width: 50px;
}
