@charset "utf-8";

.home {
    // 数据
    header {
        display: flex;

        justify-content: space-between;

        .data {
            display: flex;

            padding: 25px;
            width: 240px;
            height: 120px;

            background-color: #fff;

            justify-content: space-between;
            align-items: center;

            .icon {
                font-size: 70px;
            }

            .data-name {
                text-align: center;

                h3 {
                    font: normal 22px/35px "微软雅黑";

                    color: #a8a8a8;
                }

                p {
                    font: bold 22px/35px "微软雅黑";
                }
            }
        }
    }

    // 图表
    main {
        margin-top: 40px;
        padding: 20px;
        height: 500px;

        background-color: #fff;
    }

    // 字体图标
    .icon {
        overflow: hidden;

        width: 1em;
        height: 1em;

        vertical-align: -.15em;

        fill: currentColor;
    }
}
