@charset "utf-8";

.order {
    header {
        display: flex;

        align-items: center;
        justify-content: space-between;
    }

    /deep/ .el-table {
        margin-top: 40px;
    }

    /deep/ .el-table,
    .el-table__expanded-cell {
        color: #fff;
        background-color: transparent;
    }

    /deep/ .el-table th {
        background-color: transparent !important;
    }

    /deep/ .el-table tr {
        background-color: transparent !important;
    }

    /deep/ .el-table__fixed,
    /deep/ .el-table__fixed-right {
        background-color: rgba(0, 0, 0, .75);
    }

    /deep/ .el-table--enable-row-transition .el-table__body td,
    .el-table .cell {
        background-color: transparent;
    }
}
