@charset "UTF-8";

/* 主体 内容 顶部*/

article {
    float: right;
}

.aricle-top,
.aricle-middle,
.aricle-down {
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #e2e2e2;
    padding: 10px 10px;
    width: 900px;
}

.aricle-top {
    padding: 0 10px;
    height: 38px;
}

.aricle-top span {
    font: normal 12px/38px "微软雅黑";

    color: #9a9a9a;
}
