@charset "UTF-8";
/* 主体 内容 顶部*/

article {
    float: right;
}

.aricle-top, .aricle-middle, .aricle-down {
    width: 900px;
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid #e2e2e2;
    box-sizing: border-box;
}

.aricle-top {
    height: 38px;
    padding: 0 10px;
}

.aricle-top span {
    font: normal 12px/38px "微软雅黑";
    color: #9a9a9a;
}