@charset "UTF-8";
/* 主体 内容 */

.aricle-down form {
    float: left;
}

.aricle-down p {
    margin-bottom: 15px;
    line-height: 40px;
    color: #7d7d7d;
}

.aricle-down input, .aricle-down textarea, .aricle-down button {
    width: 400px;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    outline: none;
    background-color: #f2f2f2;
    border: 0;
    box-sizing: border-box;
}

.aricle-down textarea {
    min-width: 400px;
    max-width: 400px;
    height: 185px;
    min-height: 185px;
    max-height: 185px;
    font-size: 14px;
    resize: none;
}

.aricle-down button {
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #0077ed;
    cursor: pointer;
}

.aricle-down .message-inf {
    float: right;
    width: 400px;
    margin-top: 55px;
}

.aricle-down .message-inf p {
    font: normal 14px/32px "微软雅黑";
    color: #949395;
}