@charset "UTF-8";
/* 主体 内容 核心*/

.aricle-down {
    border: 0;
}

.aricle-down li {
    height: 115px;
    padding: 30px 10px 20px 30px;
    border-bottom: 1px solid #aeaeae;
    box-sizing: border-box;
}

.news-date {
    float: left;
    width: 60px;
    height: 60px;
    text-align: center;
    color: #ffffff;
    background-color: #0077ed;
}

.news-date h3 {
    font-size: 30px;
}

.news-date span {
    font-size: 12px;
}

.news-text {
    float: left;
    width: 778px;
    box-sizing: border-box;
}

.news-text h4 {
    margin-left: 20px;
    line-height: 28px;
}

.news-text p {
    margin-left: 20px;
    font-size: 12px;
    color: #aeacb0;
}

.page {
    margin-top: 60px;
    font: normal 14px/1em "微软雅黑";
    text-align: center;
    color: #7d7d7d;
}

.page a {
    color: #ff0000;
}