@charset "UTF-8";

/* 主体 内容 核心 */

.aricle-down {
    border: 0;
    padding: 0;
}

.product-box {
    float: left;

    margin-right: 20px;
    width: 210px;
    height: 287px;
}

.product-box-right {
    margin: 0;
}

.product-pic {
    width: 210px;
    height: 210px;
}

.product-pic img {
    width: 210px;
    height: 210px;

    transition: all .5s;
}

.product-pic img:hover {
    transform: scale(.95);
}

.product-box h3 {
    font: bolder 14px/28px "微软雅黑";
}

.product-box p a {
    font: normal 12px/18px "微软雅黑";

    color: #ada9a7;
}

.page {
    margin-top: 25px;

    font: normal 12px/18px "微软雅黑";
    text-align: center;

    color: #ada9a7;
}

.page span {
    font-weight: bold;
}

.page a {
    border: 1px solid #ada9a7;

    color: #ada9a7;
}

.page .page-on {
    border: 0;

    color: #f00;
}
