@charset "utf-8";

.app {
    width: 100%;
    height: 100%;

    // 内容
    .content {
        display: flex;

        width: 100%;
        height: 100%;

        flex-direction: column;

        nav {
            display: flex;

            border-bottom: 1px solid #ccc;
            width: 100%;
            height: 40px;

            align-items: center;
            justify-content: space-around;

            a {
                color: #646464;

                &.active {
                    color: #2395ff;
                }
            }
        }

        main {
            overflow-x: hidden;
            overflow-y: scroll;

            background-color: #f4f5f7;

            flex: 1;
        }
    }

    // 弹窗
    .dialog-box {
        position: fixed;
        top: 0;
        left: 0;

        padding: 60px 30px;
        width: 100%;
        height: 100%;

        color: #eee;
        background-color: rgba(23, 43, 58, .8);

        // 内容
        main {
            position: relative;

            height: 100%;

            // 名称评分
            .name-star {
                text-align: center;

                h2 {
                    font-weight: bold;
                    letter-spacing: 2px;
                }

                p {
                    margin-top: 20px;
                }
            }

            .discount-info {
                margin-top: 30px;

                ul {
                    padding: 0 15px;

                    font-size: 14px;

                    li {
                        margin: 15px 0;
                    }
                }
            }

            // 商家公告
            .seller-ad {
                margin-top: 30px;

                p {
                    padding: 0 15px;

                    font-size: 14px;
                    line-height: 30px;
                }
            }

            // 关闭按钮
            .close-btn {
                position: absolute;
                bottom: 0;

                width: 100%;

                text-align: center;
            }
        }
    }

    // 弹窗动画
    .animate__animated.animate__slideInDown {
        animation-duration: .5s;
    }

    .animate__animated.animate__slideOutUp {
        animation-duration: .5s;
    }
}
