@charset "utf-8";

.seller {
    header {
        padding: 15px;

        background-color: #fff;

        box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .18);

        .top {
            display: flex;
        }

        .bottom {
            display: flex;

            border-top: 1px solid #eee;

            justify-content: space-between;

            div {
                width: 33%;

                text-align: center;
            }
        }
    }

    &
    > div {
        margin-top: 30px;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 15px;

        background-color: #fff;

        box-shadow: 0 .1rem .7rem rgba(0, 0, 0, .18);
    }

    .shop-ad {
        ul {
            padding: 10px;

            li {
                border-top: 1px solid #eee;
            }
        }
    }

    .time-info {
        p {
            border-top: 1px solid #eee;
            padding: 15px;
        }
    }
}
